@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Freeman&family=IM+Fell+English+SC&family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans:ital,wdth,wght@0,83.1,482;1,83.1,482&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Briem+Hand:wght@100..900&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans:ital,wdth,wght@0,83.1,482;1,83.1,482&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Briem+Hand:wght@100..900&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans:ital,wdth,wght@0,83.1,482;1,83.1,482&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Briem+Hand:wght@100..900&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans:ital,wdth,wght@0,83.1,482;1,83.1,482&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Briem+Hand:wght@100..900&family=Freeman&family=IM+Fell+English+SC&family=Jaro:opsz@6..72&family=Limelight&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tac+One&family=Ubuntu+Sans:ital,wdth,wght@0,83.1,482;1,83.1,482&display=swap');
:root {
    --main-color : hsla(84, 43%, 85%, 0.732);
    --black-color :#1d164b;
    --border:0.1rem solid rgba(255,255,255,0.4);
}
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;  
    outline: none;
    transition: 0.2s ease;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-color: #c0c0c0;
    height: 400vh;
}
body.sehrim-page {
   
    background-color: #675869f1; 
}
body.cv-page {
   
    background-color: var(--main-color); 
}
body.takim-page {
    
    background-color: #0c4963; 
}
.header {
    background-color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    margin: 2rem 5%;
    border-radius: 10rem;
    box-shadow: 0px 0px 35px -2px rgba(53, 0, 42, 0.695);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    transition: color 0.05s ease;
}
.buttons button:hover {
    color: #560404; 
    border-radius: 50px; 
    border: 1px solid #6c6c6c;
    padding: 1px 11px;
    background-color: #c9c4c8; 
    color: white;
  }
#menu-btn{
    display: none;
}
.header .navbar a {
    font-family: "Jaro", sans-serif;
    margin: 6.3rem;
    font-size: 1.6rem;
    color: var(--black-color);
}
.navbar a:hover {
    color: #875976; 
    border-radius: 50px; 
    border: 3px solid #6c6c6c;
    padding: 8px 18px;
    background-color: #898688; 
    color: white; 
  }
 
  .navbar a.active {
    color: #806074; 
  }

@media only screen and (max-width: 1468px) {
    .header .navbar {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .header .navbar a {
        margin: 1rem 0; 
    }
}
.sehrim-content {
    
    font-family: "Almendra", sans-serif;
    padding: 2rem;  
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 5%; 
    font-size: 2.6rem; 
    color: #000000; 
    background-color:#c1a687 ;     
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
.sehrim-content .baslik h1{
    font-family: "Abril Fatface", serif; 
    align-items: center;
    font-size: 78px;
    color:#e4e2b8f1;
   

}
.sehrim-content2 {
    
    font-family: "Almendra", sans-serif;
    padding: 2rem;  
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 5%; 
    font-size: 2.6rem; 
    color: #000000; 
    background-color:#c1a687 ;     
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
.sehrim-content3 {
    
    font-family: "Almendra", sans-serif;
    padding: 2rem;  
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 5%; 
    font-size: 2.6rem; 
    color: #000000; 
    background-color:#c1a687 ;     
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    width: 500px;
    height: 800px;
    position: relative;

}
.slider img{
width: 100%;
height: 100%;
border-radius: 7px;

}
.slider .buton{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;


}
 .slider .buton i{
    color: #000000;
 }

 .slider .buton  :hover{
    cursor: pointer;
    color:#c5bfbf
 }
@media screen and (max-width: 768px) {
    .slider img {
        width: 20%; 
    }
}
.index-content {
    font-family: "Almendra", sans-serif;
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 2rem 5%; 
    font-size: 1.6rem; 
    color: #333; 
}
.index-content .baslik{
    font-family: "Almendra", sans-serif;
    align-items: center;
    font-size: 50px;
}
.index-content .baslik .sola-kaydir{
    float:left;
padding:10 10px 100px 100;
}
.index-content .baslik .alt-baslik{
    font-size: 16px;
}
.index-content .index-metin{
    font-size: 25px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px; 
}
.index-content .index-metin a{
    color: #000000;
}
.ilgi-part {
    display: flex;    
    margin: 90px;
    width:80% ;
    justify-content: space-between;
    margin-left: 0;
}
.ilgi-part img {   
    border-radius: 50%;
    width: 380px;
    transition: all 0.5s ease;
}
.ilgi-part img:hover {
    transform: scale(1.1); }
.ilgi-part .image-container {
    width: 10%;
}
  
@media only screen and (max-width: 1098px) {
    .index-content {
        padding: 1.5rem;
        margin: 1rem 2%; 
        font-size: 1.4rem; 
    }
    .index-content .baslik{
        align-items: center;
        font-size: 40px;    
    }
    .slider{
        width: 300px;
        height: 400px;
        position: relative;
    
    }
    .ilgi-part {
        display: flex;
        flex-wrap: wrap;       
        margin: 0;
    }
    .ilgi-part img {
        border-radius: 50%;
        width: 230px; 
        height: 200px; 
        transition: all 0.5s ease;
        margin: 10px; 
    }

    .ilgi-part img:hover {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 776px) {
    .index-content {
        padding: 1rem; 
        margin: 0.5rem 1%; 
        font-size: 9px; 
    }
    .index-content .baslik{
        align-items: center;
        font-size: 25px;    
    }
.slider{
    width: 200px;
    height: 300px;
    position: relative;

}
.slider img{
    width: 100%; 
        height: 100%; 
        border-radius: 7px; 
}
.ilgi-part {
    display:list-item;
    flex-wrap: wrap;       
    margin-left: 90px;
}
.ilgi-part img {
    border-radius: 50%;
    width: 230px; 
    height: 200px; 
    transition: all 0.5s ease;
    margin: 10px; 
}

.ilgi-part img:hover {
    transform: scale(1.1);
}
}

.cv-content {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 2rem 5%;
    font-size: 1.6rem; 
    color: #333; 
    padding-left: 100px;
}
.cv-content .baslik{
    font-family: "Ubuntu Sans", sans-serif;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;

}
.cv-content p span {
    display: inline-block;
    margin-right: 10px;
}
.cv-content .cv-kaydir{
    padding-left: 300px;
}
.cv-content .cv-kaydir2{
    padding-left: 220px;
}
.cv-content .cv-kaydir3{
    padding-left: 160px;
}

.cv-content img {
    background-color: transparent;
    border-radius: 50%;
    width: 300px; 
    height: auto;  
    float: right;
    margin-right: 70px;
}
@media only screen and (max-width: 1308px) {
    .cv-content {
        padding: 1.5rem; 
        margin: 1rem 2%; 
        font-size: 1.4rem; 
    }
    .cv-content .baslik{
        align-items: center;
        font-size: 20px;         
    }
    .cv-content img{
        width: 200px; 
    height: auto;
    }
}
@media only screen and (max-width: 960px) {
    .cv-content {
        padding: 1.5rem; 
        margin: 1rem 2%; 
        font-size: 1.4rem; 
    }
    .cv-content .baslik{
        align-items: center;
        font-size: 20px;         
    }
    .cv-content img{
        width: 300px; 
    height: auto;
    }
}


@media only screen and (max-width: 1098px) {
    .cv-content {
        padding: 1.5rem; 
        margin: 1rem 2%; 
        font-size: 1.4rem;
    }
    .cv-content .baslik{
        align-items: center;
        font-size: 20px;         
    }
}

@media only screen and (max-width: 676px) {
    .cv-content {
        padding: 1rem; 
        margin: 0.5rem 1%;
        font-size: 1.2rem; 
    }
    .cv-content .baslik{
        align-items: center;
        font-size: 10px;    
    }
    .cv-content .cv-kaydir{
        padding-left: 100px;
    }
    .cv-content .cv-kaydir2{
        padding-left: 46px;
    }
    .cv-content .cv-kaydir3{
        padding-left: 20px;
    }
}


.login-content {
    font-family: "Abril Fatface", serif;
    padding: 2rem; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 2rem 5%; 
    font-size: 1.6rem;
    color: #333; 
}
.login-content .baslik{
    font-family: "Abril Fatface", serif;
    align-items: center;
    font-size: 50px;
}

#contact-form input[type="email"],
#contact-form input[type="password"],
#contact-form button {
    font-family: "Ubuntu Sans", sans-serif;
    display: block;
    width: 280px;
    margin-bottom: 10px;
    padding: 10px;   
    border: 1px solid #d0bdbd;
    border-radius: 40px;
    background-color: #d8d2d5;
}

#contact-form button {
    background-color: #617489;
    color: #e7d1d1;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #1e344c;
}

@media only screen and (max-width: 676px) {
    .login-content .baslik{
        align-items: center;
        font-size: 70px;
       
    
    }
}

.iletisim-content form {
    font-family: "Ubuntu Sans", sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d6d1d1;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
}
.iletisim-content .form-group {
    margin-bottom: 20px;
}
.iletisim-content label {
    display: block;
    margin-bottom: 5px;
}
.iletisim-content input[type="text"],
.iletisim-content input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.iletisim-content input[type="radio"] {
    margin-right: 5px;
}

.iletisim-content button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.iletisim-content .form-text {
    font-size: 0.8em;
    color: #888;
}
.takim-content {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 2rem;  
    border-radius: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 2rem 5%; 
    font-size: 1.6rem; 
    color: #333; 
    background-color:#c7d433f1
}
.takim-content2 {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 10rem; 
    border-radius: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 1%; 
    font-size: 2rem;
    color: #333;
    background-color:#33d456f1;
    text-align: justify;
    padding-left: 120px;
    padding-right: 100px;
}
.takim-content5 {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 10rem;
    border-radius: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 1%; 
    font-size: 2rem;
    color: #333;
    background-color:#33d456f1;
    text-align: center;
    padding-left: 120px;
    padding-right: 100px;
}

    .takim-content5 img {
        float: right;
        margin-left: 20px;
        max-width: 300px;
        height: auto;
    }
    .takim-content4 img {
        float: right;
        margin-left: 20px;
        max-width: 300px;
        height: auto;
    }
    .takim-content3 img {
        float: right;
        margin-left: 20px;
        max-width: 300px;
        height: auto;
    }

.takim-content4 {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 10rem; 
    border-radius: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 1%; 
    font-size: 2rem; 
    color: #333; 
    background-color:#c7d433f1;
    text-align: center;
    padding-left: 120px;
    padding-right: 100px;
}
.takim-content3 {
    font-family: "Ubuntu Sans", sans-serif;
    padding: 10rem; 
    border-radius: 900px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 1rem 1%; 
    font-size: 2rem; 
    color: #d0cdcd; 
    background-color:#090531f1;
    text-align: justify;
    padding-left: 120px;
    padding-right: 100px;
}
.takim-content .baslik{
    font-family: "Abril Fatface", serif;
    text-decoration:underline;   
    padding-left: 320px;
    align-items: center;
    font-size: 60px;
    color: #083041;
}
.takim-part {
    display: flex;    
    margin: 90px;
    width:auto ;
}
.takim-part img {   
    border-radius: 50%;
    width: 89%;
    transition: all 0.5s ease;
}
.takim-part img:hover {
    transform: scale(1.1); }
.image-container {
    position: relative;
}

.image-caption {   
    font-family: "Ubuntu Sans", sans-serif;
    position: absolute;
    bottom: 80px;
    left: 39%;
    transform: translateX(-50%);
    background-color: rgba(245, 239, 239, 0.5);
    color: rgb(6, 63, 8);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 30px; 
}

.image-container:hover .image-caption {
    opacity: 1;
}

@media only screen and (max-width: 1415px) {
    .takim-content {
        padding: 1.5rem; 
        margin: 1rem 2%; 
        font-size: 1.4rem; 
    }
    .takim-content .baslik{
        text-align: center;
        font-size: 58px;
       padding-left: 50px;   
    }
}
@media only screen and (max-width: 1015px) {
    .takim-content {
        padding: 1.5rem; 
        margin: 1rem 2%; 
        font-size: 1.4rem; 
    }
    .takim-content .baslik{
        align-items: center;
        margin: auto; 
        font-size: 40px;
       padding-top: 50px;   
    }
}
@media only screen and (max-width: 850px) {
    .takim-content {
        padding: 1rem; 
        margin: 0.5rem 1%; 
        font-size: 1.2rem; 
    }
    .takim-content .baslik{
        align-items: center;
        font-size: 29px;  
        padding-left: 7px; 
    }
    .takim-content2{
        margin: 15px;
        padding: 15px;
        border-radius: 15px;
    }
    .takim-content3{
        margin: 15px;
        padding: 15px;
        border-radius: 15px;
    }
    .takim-content4{
        margin: 15px;
        padding: 15px;
        border-radius: 15px;
    }
    .takim-content5{
        margin: 15px;
        padding: 15px;
        border-radius: 15px;
    }
    .takim-content5 img {
        text-align: center;
        height: auto;
        padding-right: 55px;
    }
    .takim-content4 img {
        text-align: center;
        height: auto;
        padding-right: 50px;
    }
    .takim-content3 img {
        text-align: center;
        height: auto;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 650px) {
    .takim-content {
        padding: 1rem; 
        margin: 0.5rem 1%; 
        font-size: 1.2rem; 
    }
    .takim-part {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        margin: 90px;
    }
    .takim-part img {
        border-radius: 50%;
        width: 230px; 
        height: 200px; 
        transition: all 0.5s ease;
        margin: 10px; 
    }

    .takim-part img:hover {
        transform: scale(1.1);
    }
    .takim-content .baslik{
        align-items: center;
        font-size: 25px;  
    }
    .takim-content2{
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    .takim-content3{
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    .takim-content4{
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
    }
    .takim-content5{
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
    }      
}       
@media only screen and (max-width: 450px) {
    .takim-content {
        padding: 1rem;
        font-size: 1.2rem; 
        margin:0
    }
    .takim-part {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        margin: 90px;
    }

    .takim-part img {
        border-radius: 50%;
        width: 200px; 
        height: 200px; 
        transition: all 0.5s ease;
        margin: 10px; 
    }

    .takim-part img:hover {
        transform: scale(1.1);
    }
    .takim-content .baslik{
        align-items: center;
        font-size: 25px;  
    }
}
@media (max-width: 1491px) {
    html{
       font-size: 55%;
    }
    .header{
        padding :1.5rem 2rem;
        font-size: 1.6rem;       
    }
    .header .navbar a{      
        margin:3.5rem;
    }
}
@media (max-width: 799px) {
#menu-btn{
    display: inline-block;
}
.header .navbar{
    position: absolute;
    top: 95%;
    background-color: #c0c0c0;
    height: calc(100vh-9rem);
    width :50rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0/75%);
    border-radius: 5rem;
    right: 20%;
    transform: translateX(0%); 
    transition: transform 0.03s ease;
    display: none;
}
.header .navbar a{
    color:var(--black-color);
    display: block;
    margin:1.5rem;
    padding:0.5 rem;
    font-size: 2 rem;
}
@media(max-width: 510px){
    .header .navbar{
        width: 30rem;
        
    }
}

}

@media (min-width: 800px) {
    .header .navbar {
        display: block; 
      
    }
}
.menu-btn {  
    cursor: pointer;
}

.carousel {
    width: 80%; 
    margin: auto;
   
  }
  .carousel-item img {
    width: 100%;
    height: auto; 
    border-radius: 20px;
  }

#catImageContainer {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    text-align: center;
}

#catImageContainer img {
    width: 100%;
    height: auto;
}

#catImageContainer h2 {
    padding: 10px;
    font-size: 20px;
    color: #333;
}

#characterContainer {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    text-align: center;
}

#characterContainer img {
    width: 100%;
    height: auto;
}

#characterContainer h2 {
    padding: 10px;
    font-size: 20px;
    color: #333;
}
#starWarsCharacterContainer {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#starWarsCharacterContainer img {
    width: 100%;
    height: auto;
}
#starWarsCharacterContainer h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#starWarsCharacterContainer p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

